<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/slide/01.webp" class="d-block w-100" alt="" height="300" width="100">
      </div>
      <div class="carousel-item">
        <img src="assets/images/slide/02.webp" class="d-block w-100" alt="" height="300" width="100">
      </div>
      <div class="carousel-item">
        <img src="assets/images/slide/03.webp" class="d-block w-100" alt="" height="300" width="100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container mt-5">
    <div class="text-center">
    <h1>อุปกรณ์ IoT ที่ใช้ทำชิ้นงาน</h1>
    <h3>ระบบไฟห้องน้ำเปิด-ปิดอัตโนมัติ</h3>
    <div class="row mt-5">
      <div class="col mb-4">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/product/ESP32.webp" class="card-img-top" alt="" height="">
            <div class="card-body">
                <h1>ESP32</h1>
              <p class="card-text">ESP32 คือ wifi microcontroller ที่ถูกพัฒนาต่อจาก ESP8266 โดยเพิ่ม CPU เป็น 2 core, Wi-Fi ที่เร็วขึ้น, มีขา GPIO ให้ใช้งานมากขึ้น และรองรับ Bluetooth อีกด้วย  นอกจากนี้ ESP32 ยังมาพร้อมกับ touch-sensitive pins ที่สามารถใช้ปลุก ESP32 จากโหมด deep sleep และยังมี hall effect sensor และ temperature sensor ในตัว (รุ่นล่าสุดของ ESP32 ไม่มี temperature sensor ในตัวอีกแล้ว) </p>
            </div>
          </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/product/Relay.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h1>Relay</h1>
              <p class="card-text">รีเลย์ (Relay) คือ สวิตช์ไฟฟ้าที่ใช้แม่เหล็กไฟฟ้าในการเปิดหรือปิดหน้าสัมผัสอย่างน้อยหนึ่งหน้าสัมผัส ซึ่งเป็นส่วนประกอบสำคัญในระบบไฟฟ้าและอิเล็กทรอนิกส์ มักใช้ในการควบคุมวงจรกำลังไฟสูงด้วยสัญญาณกำลังต่ำ</p>
            </div>
          </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/product/Solar.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h1>Solar cell</h1>
              <p class="card-text"> เป็นอุปกรณ์อิเล็กทรอนิกส์ที่ทำจากสารกิึ่งตัวนำ ที่มีความสามารถในการแปลงพลังงานแสงอาทิตย์ที่ตกกระทบตัวสารกิึ่งตัวนำเพื่อเปลี่ยนมาเป็นพลังงานไฟฟ้ากระแสตรง (DC current) ซึ่งเอานำมาใช้งานกับอุปกรณ์ไฟฟ้าทีเราได้ดำเนินการต่อกับระบบโซล่าเซลล์ของเราได้</p>
            </div>
          </div>
      </div>
      <div class="col md-4">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/product/earth.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h1>solar inverter</h1>
              <p class="card-text">อุปกรณ์แปลงพลังงานไฟฟ้าที่ได้จากแผงโซลาร์เซลล์ เพื่อส่งต่อพลังงานไฟฟ้าไปยังอุปกรณ์เครื่องใช้ไฟฟ้า ซึ่งการทำงานของอินเวอร์เตอร์โซลาร์เซลล์ เปรียบได้กับหม้อแปลงไฟฟ้า คือ มีหน้าที่แปลงพลังงานแสงอาทิตย์ </p>
            </div>
          </div>
      </div>
      <div class="col md-4">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/product/PH.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h1>เซ็นเซอร์จับการเคลื่อนไหว</h1>
              <p class="card-text">“เครื่องตรวจจับความเคลื่อนไหว” คือ อุปกรณ์อิเล็กทรอนิกส์ที่ออกแบบมาเพื่อใช้ในการตรวจจับความเคลื่อนไหวทางกายภาพของสิ่งมีชีวิต โดยจะนิยมนำมาใช้ในระบบดูแลรักษาความปลอดภัยภายในบ้าน หรือในธุรกิจ เพื่อตรวจจับผู้บุกรุกเข้ามายังในสถานที่</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
